.logo-vertical {
    height: 32px;
    margin: 16px;
    /* background: rgba(255, 255, 255, 0.2); */
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .logo-text {
      color: white;
      font-size: 16px;
      margin-left: 8px;
      font-weight: bold;
      white-space: nowrap; /* Prevent text wrapping when sider is collapsing */
  }
  
  /* You might need to adjust based on your actual logo and desired look */